@theme {
  --color-pizza-red: #F9A825;
  --color-pizza-yellow: #2B2B2B;
  --color-pizza-black:#2B2B2B;
}

.custom-navigation {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@import "tailwindcss";

