@theme {
  --color-pizza-red: #E30613;
  --color-pizza-yellow: #FFC72C;
}

.custom-navigation {
  position: relative;
}

/* Hide default arrows */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}


@import "tailwindcss";

